.title {
    position: absolute;
    top: 37%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 1.8rem;
    color: white;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.coverpage {
    position: relative;
    height: 100vh; 
    width: 100%; 
    background-color: #FAF0E6; 
    background-image: url('../assets/background_photo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    overflow: hidden;
    transition: opacity 0.5s ease-in-out; /* Smooth fade-out transition */
    opacity: 1;
}

.coverpage.fade-out {
    opacity: 0;
}

.enter {
    position: absolute;
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: white;
    font-family: 'Times New Roman', serif;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: opacity 0.8s ease-in-out; 
}

.arrow {
    opacity: 0;
    margin-left: 5px; 
    transition: opacity 0.4s ease-in-out, margin-left 0.4s ease-in-out;
}

.enter:hover .arrow {
    opacity: 1; 
    margin-left: 60px; 
}

.enter::after {
    content: ""; 
    display: block;
    width: 0; 
    height: 1px; 
    background-color: white;
    margin-top: 5px; 
    transition: width 0.6s ease-in-out; 
}

.enter:hover::after {
    width: 105%; 
}
