.sidebar {
  width: 22vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  z-index: 100;
  background-color: #FAF0E6;
  user-select: none;
}

.sidebar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 80px; 
}

.sidebar li {
  margin: 0; 
}

.sidebar a {
  color: #6e675e; 
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 0.3s ease-in-out;
  display: block; 
  text-align: left;
  padding-left: 5vw; 
  font-family: 'Times New Roman', serif;
}

.sidebar a:hover {
  color: #37291a;
  transform: scale(1.05);
}

.active-link {
  font-weight: bold; 
  color: #6e675e; 
}