.welcomepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FAF0E6;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
    padding-left: 18vw;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: visible;
}
  
.welcomepage.fade-out {
    opacity: 0; 
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: calc(100vw - 22vw); 
    padding-top: 120px; 
    flex-grow: 1;
}

.welcome-image {
    display: block;
    max-width: 80%; 
    height: auto;
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center; 
    font-family: 'Times New Roman', serif;
    color: #4f3b26;
    margin-bottom: 15px;
}

p {
    text-align: center; 
    font-family: 'Times New Roman', serif;
    color: #37291a;
    margin-top: 5px;
    line-height: 1.3;
    margin-bottom: 50px;
    font-size: 17px;
}
